html{
  background-color:red;
  transform: scaleX(-1);
}
#root {
  transform: translate(0, 40vh) rotate(-90deg);
}
#root.animated #shotgun5 {
  animation: trigger 1.1s;
}
#root.animated #shotgun3 {
  animation: charge 0.55s alternate;
}
#root.animated #shotgun4 {
  animation: Peww 1.1s;
}
#root.animated #shotgun5 {
  animation: trigger 1.1s;
}
#root.animated #dot {
  animation: cool 2s;
}
#root.animated #dot1 {
  animation: cooll 2s;
}
#root.animated #dot2 {
  animation: coolll 2s;
}

@keyframes Pew{
  0%{background-color:yellow;}
}
#shotgun{
  width:570px;
  height:80px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:90px;
  left:72px;
}
#shotgun1{
  width:170px;
  height:100px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:160px;
  left:10px;
  transform:rotatez(-60deg);
}
#shotgun2{
  width:140px;
  height:100px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:120px;
  left:80px;
}
#shotgun3{
  width:200px;
  height:66px;
  border-radius:20px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:160px;
  left:400px;
}
@keyframes charge{
  0% {position:absolute;}
  50% {left: 220px}
  100%{position: absolute;}
}
#shotgun4{
  width:75px;
  height:60px;
  border-radius:50px;
  border:10px solid black;
  background-color:red;
  margin:10px;
  position:absolute;
  top:170px;
  left:120px;
}
@keyframes Peww{
  0%{background-color:yellow;}
}
#shotgun5{
  width:10px;
  height:44px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:170px;
  left:160px;
  transform:rotatez(-20deg);
}

@keyframes trigger{
    20%{transform: rotate(20deg);}
    40%{transform: rotate(-20deg);}
}
#shotgun6{
  width:10px;
  height:44px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:60px;
  left:66px;
  transform:rotatez(-35deg);
  }
#shotgun7{
  width:10px;
  height:44px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:79px;
  left:44.8%;
  }
#shotgun8{
  width:200px;
  height:24px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:185px;
  left:220px;
  }
#shotgun9{
  width:270px;
  height:50px;
  border-radius:10px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:70px;
  left:150px;
  }
#shotgun10{
  width:120px;
  height:50px;
  border-radius:10px;
  background-color:black;
  margin:10px;
  position:absolute;
  top:70px;
  left:470px;
  }
#shotgun11{
  width:70px;
  height:35px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:98px;
  left:589px;
  }
#shotgun12{
  width:70px;
  height:20px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:140px;
  left:584px;
  }
#shotgun13{
  width:55px;
  height:35px;
  background-color:gray;
  margin:10px;
  position:absolute;
  top:110px;
  left:160px;
}
#shotgun14{
  width:355px;
  height:25px;
  background-color:gray;
  margin:10px;
  position:absolute;
  top:110px;
  left:230px;
}
#dot{
  width:50px;
  height:20px;
  border-radius:50px;
  background-color:blue;
  margin:10px;
  position:absolute;
  top:112.5px;
  left:250px;
}
@keyframes cool{
  0%{background-color:black;}
  10%{background-color:green;}
  20%{background-color:red;}
  30%{background-color:hotpink;}
  40%{background-color:purple;}
  50%{background-color:orange;}
  60%{background-color:teal;}
  70%{background-color:brown;}
  80%{background-color:white;}
  90%{background-color:gold;}
  100%{background-color:rgb(121,221,111,);}
}
#dot1{
  width:50px;
  height:20px;
  border-radius:50px;
  background-color:blue;
  margin:10px;
  position:absolute;
  top:112.5px;
  left:380px;
}
@keyframes cooll{
  0%{background-color:black;}
    10%{background-color:green;}
  20%{background-color:red;}
  30%{background-color:hotpink;}
  40%{background-color:purple;}
  50%{background-color:orange;}
  60%{background-color:teal;}
  70%{background-color:brown;}
  80%{background-color:white;}
  90%{background-color:gold;}
  100%{background-color:rgb(121,221,111,);}
}
#dot2{
  width:50px;
  height:20px;
  border-radius:50px;
  background-color:blue;
  margin:10px;
  position:absolute;
  top:112.5px;
  left:510px;
}
@keyframes coolll{
  0%{background-color:black;}
    10%{background-color:green;}
  20%{background-color:red;}
  30%{background-color:hotpink;}
  40%{background-color:purple;}
  50%{background-color:orange;}
  60%{background-color:teal;}
  70%{background-color:brown;}
  80%{background-color:white;}
  90%{background-color:gold;}
  100%{background-color:rgb(121,221,111,);}
}
#bullet{
  width:90px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:140px;
  left:584px;
  transform:rotatez(10deg);
  opacity: 0;
  }
@keyframes bang{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:1000px}
  100% {opacity: 0 }
}
.bullets {
  opacity: 0;
}
#bullet1{
  width:80px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:90px;
  left:584px;
  animation: bangg 1.1s infinite;
  transform:rotatez(-5deg);
  opacity: 0;
  }
@keyframes bangg{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:900px}
  100% {opacity: 0 }
}
#bullet2{
  width:120px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:115px;
  left:584px;
  animation: banggg 1.1s infinite;
  opacity: 0;
  }
@keyframes banggg{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:870px}
  100% {opacity: 0 }
}
#bullet3{
  width:70px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:160px;
  left:584px;
  animation: bangggg 1.1s infinite;
  transform:rotatez(15deg);
  opacity: 0;
  }
@keyframes bangggg{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:960px}
  100% {opacity: 0 }
}
#bullet4{
  width:60px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:80px;
  left:584px;
  animation: banggg2 1.1s infinite;
  transform:rotatez(-15deg);
  opacity: 0;
  }
@keyframes banggg2{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:850px}
  100% {opacity: 0 }
}
#bullet5{
  width:60px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:160px;
  left:584px;
  animation: banggg3 1.1s infinite;
  transform:rotatez(5deg);
  opacity: 0;
  }
@keyframes banggg3{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:850px}
  100% {opacity: 0 }
}
#bullet6{
  width:100px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:140px;
  left:584px;
  animation: banggg4 1.1s infinite;
  transform:rotatez(5deg);
  opacity: 0;
  }
@keyframes banggg4{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:880px}
  100% {opacity: 0 }
}
#bullet7{
  width:90px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:100px;
  left:584px;
  animation: banggg5 1.1s infinite;
  transform:rotatez(-5deg);
  opacity: 0;
  }
@keyframes banggg5{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:1000px}
  100% {opacity: 0 }
}
#bullet8{
  width:80px;
  height:10px;
 background-color:black;
  margin:10px;
  position:absolute;
  top:90px;
  left:584px;
  animation: banggg6 1.1s infinite;
  transform:rotatez(-8deg);
  opacity: 0;
  }
@keyframes banggg6{
  0%   {position:absolute}
  20%  {opacity: 1}
  80%  {left:980px}
  100% {opacity: 0 }
}
